@import './style.css';

.header {
    background: #ffffff;
    padding-bottom: 0px;
    padding-top: 0px;
    max-height: 0;
    min-height: 0;
}
.header-container.numbers-header {
    z-index: 2;
}
.header-container.numbers-header .header__top {
    color: #3b3b3b;
    background-color: #ffffff;
}
.header-container.numbers-header .header__top .header__menu_btn span {
    background-color: #000;
}
.header-container.numbers-header .header__top .header__menu_btn {
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;
}
.header-container.numbers-header .header__top .header__phone a {
    color: #3b3b3b;
}
.header-container.numbers-header .header__top .header__phone a:hover {
    color: #ee741d;
}
.header-container.numbers-header .header__top .header-logo-white,
.header-container.numbers-header .header__top .enter__img_white {
    display: none;
}
.header-container.numbers-header .header__top .header-logo-orange,
.header-container.numbers-header .header__top .enter__img_orange {
    display: block;
}
.main {
    padding: 110px 0 50px 0;
}
.numbers__slider {
    flex-wrap: wrap;
    overflow: initial;
    padding-bottom: 0;
}
.numbers__slider_item {
    margin-bottom: 33px;
}
.numbers__slider_item .numbers__img {
    height: 300px;
}
.numbers__slider_info {
    height: calc(100% - 300px);
    padding: 13px 20px 20px 20px;
}
.numbers__slider_info h3 {
    line-height: 1.7;
    margin-bottom: 13px;
    font-size: 14px;
    white-space: nowrap;
}
.numbers__slider_info p {
    font-size: 12px;
    margin-bottom: 13px;
}
.badge-price {
    position: absolute;
    top: 20px;
    left: 0;
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #ffffff;
    padding: 3px 20px;
    background-color: #d5263b;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 1;
}
.enter__text {
    color: #ee741d;
    text-decoration: none;
}
.enter__text:hover {
    text-decoration: underline;
}

@media (max-width: 767px) {
    .header-container.scroll {
        min-height: 87px;
    }
    .numbers__slider_item {
        display: flex;
        align-items: flex-end;
    }
    .badge-price {
        top: 77px;
    }
    .numbers__slider_info {
        height: 100%;
        padding-top: 30px;
    }
    .numbers__slider_info h3 {
        position: relative;
        text-align: right;
        white-space: normal;
    }
    .numbers__slider_info p {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 0;
        color: #ffffff;
    }
}
@media (max-width: 375px) {
    .numbers__slider_info p {
        line-height: 1.3;
        font-size: 12px;
    }
}