@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&display=swap&subset=latin-ext');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
}
button {
    border: 0;
    outline: none!important;
}
input {
    outline: none!important;
}
ul {
    margin: 0;
}
li {
    list-style-type: none;
}

/* Header */
.header {
  background-image: url(../assets/banner-slider/banner-bg-1.png);
  background-size: cover;
  background-position: top left;
  padding-bottom: 30px;
  overflow-x: hidden;
  padding-top: 67px;
}
.header__top {
    color: white;
    padding-top: 10px;
}
.header__top.scroll {
    color: #3b3b3b;
}
.header__top.scroll .header__menu_btn span {
    background-color: #000;
}
.header__top.scroll .header__menu_btn {
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;
}
.header__top.orange {
    background: #ffffff;
    margin-right: -35px;
    margin-left: -35px;
    padding: 0 20px;
    padding-top: 10px;
}
.header__top.scroll .header__phone a,
.header__top.orange .header__phone a {
    color: #3b3b3b;
}
.header__top.scroll .header__phone a:hover,
.header__top.orange .header__phone a:hover {
    color: #ee741d;
}
.header__top.scroll .header-logo-white,
.header__top.scroll .enter__img_white {
    display: none;
}
.header__top.scroll .header-logo-orange,
.header__top.scroll .enter__img_orange {
    display: block;
}
.header__top .header-logo-orange,
.header__top.orange .header-logo-white,
.header__top.orange .enter__img_white,
.header__top .enter__img_orange,
.header__top .header__menu_close,
.header__top.orange .header__menu_open {
    display: none;
}
.header__top.orange .header-logo-orange,
.header__top .header-logo-white,
.header__top .enter__img_white,
.header__top.orange .enter__img_orange,
.header__top.orange .header__menu_close {
    display: block;
}
.header__top .header__menu_open {
    display: flex;
}
.header__btns {
    display: flex;
    align-items: center;
}
.header__top_right {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__menu_btn {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
    height: 18px;
    position: relative;
    top: 4px;
}
.header__menu_btn span {
    width: 30px;
    height: 3px;
    display: block;
}
.header__top .header__menu_btn {
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
}
.header__top.orange .header__menu_btn {
    border-top: 3px solid #ee751d;
    border-bottom: 3px solid #ee751d;
}
.header__top .header__menu_btn span {
    background-color: #fff;
}
.header__top.orange .header__menu_btn span {
    background-color: #ee751d;
}
.header__menu_text {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: 500;
    text-align: left;
    line-height: 1;
    cursor: pointer;
    transition: all 0.3s linear;
}
.header__menu_text:hover {
    text-decoration: underline;
}
.header__logo {
    position: relative;
    top: -5px;
}
.header__enter {
    cursor: pointer;
    display: flex;
    align-items: center;
}
.header__enter:hover .enter__img_white {
    display: none;
}
.enter__text {
    text-decoration: underline;
    font-size: 16px;
}
.header__enter img {
    width: 14px;
    height: 16px;
    margin-right: 8px;
}
.header__enter:hover .enter__img_orange {
    display: block;
}
.header__enter:hover .enter__text {
    color: #ee751d;
}
.header__phone a {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #ffffff;
}
.header__phone a:hover {
    color: #ee751d;
}
.close-btn {
    color: #3b3b3b;
    font-size: 40px;
    line-height: 1;
    cursor: pointer;
    margin-top: -10px;
    transition: all 0.3s linear;
}
.close-btn:hover {
    color: #ee741d;
}
.header-container {
    position: fixed;
    top: 0;
    left: 50%;
    width: 100%;
    min-height: 67px;
    height: auto;
    transform: translateX(-50%);
    z-index: 1;
}
.header-container.scroll {
    background-color: #fff;
}
.header__menu {
    position: relative;
    height: 0;
    margin-top: -80px;
    width: calc(100% + 70px);
    overflow: hidden;
    background-color: #ffffff;
    padding: 0 20px;
    margin-right: -35px;
    margin-left: -35px;
    z-index: 1;
    transition: all 0.2s linear;
}
.header__menu.active {
    height: auto;
    padding: 35px 20px 45px 20px;
    margin-top: 0px;
}
.header__menu .col-lg-4 .menu__list:not(:last-child),
.header__menu .col-lg-5 .menu__list:not(:last-child),
.header__menu .col-lg-3 .menu__list:not(:last-child) {
    margin-bottom: 18px;
}
.header__menu .list__title {
    margin-bottom: 7px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: rgba(59, 59, 59, 255);
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s linear;
}
.header__menu .list__item:not(:last-child) {
    margin-bottom: 5px;
}
.header__menu .list__item a {
    font-weight: 300;
    font-size: 12px;
    color: rgba(59, 59, 59, 255);
}
.header__menu .list__item:hover a,
.header__menu .list__title:hover {
    color: #ee741d;
}
.header__menu .list__item a:hover {
    text-decoration: underline;
}
/* END:Header */

/* banner */
.banner {
    padding-top: 50px;
}
.banner__all {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 251px;
    width: 257px;
    margin-top: 100px;
    cursor: pointer;
    background: #e6381b;
    background: linear-gradient(90deg, #e6381b 0%, #ea3e15 11%, #ff7002 65%);
    border-radius: 50%;
    color: #ffffff;
    transform: rotate(-135deg);
    transition: all 0.3s linear;
}
.banner__all:hover {
    background: linear-gradient(90deg, #ff7002 38%, #ea3e15 100%);
}
.banner__all span {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 28px;
    transform: rotate(135deg);
}
.banner__all:hover span {
    text-decoration: underline;
}
.banner__all::after,
.banner__all::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../assets/header/all-inclusive-border.png);
    background-size: 100% 100%;
    transform: scale(1.1);
    opacity: 0;
    transition: all 0.3s linear;
}
.banner__all::after {
    transform: scale(1.05);
}
.banner__all:hover::after,
.banner__all:hover::before {
    opacity: 1;
}
.banner__left h1 {
    font-weight: 300;
    font-size: 49px;
    color: #fff;
    text-align: left;
}
.banner__right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.banner__form {
    background-color: #fff;
    max-width: 350px;
    width: 100%;
    padding: 26px 35px 30px 35px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
.banner__form h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #ee741d;
    text-align: center;
    margin-bottom: 20px;
}
label[for="out"] {   
    margin-top: 13px;
}
.form__people {
    padding-top: 20px;
    padding-bottom: 40px;
    display: flex;
}
.adults span,
.childs span {
    margin-bottom: 12px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #3b3b3b;
    text-align: left;
    display: block;
}
.adults {
    margin-right: 90px;
}
.counter {
    display: flex;
}
.plus,
.minus {
    font-size: 30px;
    padding-left: 10px;
    line-height: 1;
    height: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s linear;
}
.minus {
    padding-right: 10px;
    font-weight: 600;
}
.plus:hover,
.minus:hover {
    color: #ee741d;
}
.banner__form input {
    border: 0;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    box-shadow: inset 0px 0px 20px -9px #888888;
    padding: 0 20px 0 10px;
}
.counter input {
    width: 30px;
    text-align: center;
    padding: 0;
}
label {
    width: fit-content;
}
.input-datetime {
    position: relative;
}
.input-datetime:after {
    content: "";
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 19px;
    height: 18px;
    background: url(../assets/header/calendar.png);
    background-size: 100% 100%;
    pointer-events: none;
} 
.form__btns button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    height: 40px;
    margin-bottom: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 12px;
    border: 2px solid #ee741d;
    background-color: #fff;
    transition: all .3s linear;
}
.form__btns > button {
    width: 100%;
    margin-bottom: 20px;
    font-size: 16px;
    color: #fff;
    background-color: #ee741d;
}
.form__btns > button:hover {
    box-shadow: 10px 10px 13px -10px rgba(0,0,0,0.75);
}
.dop-btns {
    display: flex;
    justify-content: space-between;
}
.dop-btns button {
    width: calc(50% - 10px);
    color: #ee741d;
}
.dop-btns button:hover {
    background-color: #ee741d;
    color: #fff;
}
.book-transfer {
    display: inline-block;
    padding: 25px 0;
    text-align: center;
    width: 350px;
    color: #ee741d;
    font-family: 'Lato';
    font-weight: 500;
    font-size: 20px;
    text-decoration: underline;
}
.book-transfer:hover {
    color: #ee741d;
}
.banner__slider {
    width: 350px;
    display: flex;
    flex-direction: column;
}
.slider__body {
    display: flex;
    width: fit-content;
    padding-bottom: 20px;
    padding-left: 10px;
}
.slider__item {
    width: fit-content;
    margin-right: 26px;
    cursor: pointer;
}
.slider__item:last-child {
    padding-bottom: 0;
}
.slider__item img {
    width: 134px;
    height: 77px;
}
.slider__item.active {
    transform: scale(1.04);
}
.slider__item.active::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px solid #fff;
    transform: scale(1.1, 1.17);
}
.slider__controls {
    width: 115px;
    margin-left: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}
.controls__item {
    border-bottom: 3px solid #fff;
    border-left: 3px solid #fff;
    width: 12.5px;
    height: 12.5px;
    border-radius: 3px;
    transform: rotate(45deg) scale(1);
    transition: all 0.3s linear;
    cursor: pointer;
}
.controls__item.right {
    transform: rotate(-135deg) scale(1);
}
.controls__item.left:hover {
    transform: rotate(45deg) scale(1.3);
} 
.controls__item.right:hover {
    transform: rotate(-135deg) scale(1.3);
}
.menu__right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.room__img {
    background-image: url(../assets/header/menu-room.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: top left;
    width: 100%;
    height: 245px;
    margin-bottom: 13px;
    padding: 0 0 23px 29px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #ffffff;
    font-weight: 300;
    font-size: 13px;
    color: #fff;
}
.menu__room {
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.room__btn {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 12px;
    color: #ee741d;
    width: 224px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: #ffffff;
    border: 2px solid #ee741d;
    transition: all 0.3s linear;
}
.room__btn:hover {
    color: #ffffff;
    background-color: #ee741d;
}
.room__icons {
    padding-bottom: 13px;
}
.room__icons img:not(:last-child) {
    margin-right: 10px;
    cursor: pointer;
}
.menu__contacts {
    padding-top: 36px;
    min-width: 100%;
    color: #3b3b3b;
}
.menu__contacts a {
    color: #3b3b3b;
}
.contact__title {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: rgba(59, 59, 59, 255);
    text-transform: uppercase;
    padding-bottom: 16px;
}
.contact__num a {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: rgba(59, 59, 59, 255);
}
.contact__num a:hover {
    color: #ee741d;
}
.contact__mes a {
    text-decoration: none;
}
.contact__mes svg {
    margin-right: 10px;
    height: 16px;
}
.contact__mes svg:hover path {
    fill: #ee751d;
}
.contact__email {
    margin-top: 16px;
}
.contact__email a {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 14px;
}
.contact__email a:hover {
    color: #ee741d;
    text-decoration: underline;
}
.contact__addres {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: rgba(59, 59, 59, 255);
    white-space: nowrap;
}
.contact__soc {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact__soc svg {
    height: 20px;
    width: auto;
}
/* END:banner */

/* MAIN */
.main {
    padding: 150px 0;
}
.sections__title {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 40px;
    color: rgba(59, 59, 59, 255);
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.sections__title a {
    color: #ee741d;
    font-size: 18px;
}
/* END:MAIN */

/* ABOUT-US */
.about__slider {
    display: flex;
    position: relative;
}
.about__slider_items {
    height: 430px;
    width: 100%;
    overflow: hidden;
}
.about__slider_item {
    padding: 20px 0;
    transition: all 0.3s linear;
}
.about__slider_item .item__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 18px;
    color: rgba(59, 59, 59, 255);
    line-height: 1.5;
}
.item__text a {
    display: block;
    color: #ee741d;
}
.item__img {
    text-align: right;
}
.item__img img {
    width: 597px;
    max-width: 100%;
    height: 400px;
}
.about__slider_controls {
    position: absolute;
    top: 0px;
    right: -56px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 400px;
    margin: 20px 0;
}
.about__controls {
    width: 12.8px;
    height: 12.8px;
    border-bottom: 2px solid #ee741d;
    border-left: 2px solid #ee741d;
    margin-bottom: 40px;
    transform: rotate(135deg) scale(1);
    transition: all 0.3s linear;
    cursor: pointer;
}
.about__controls.bottom {
    transform: rotate(-45deg) scale(1);
    margin-top: 40px;
    margin-bottom: 0px;
}
.about__controls:hover {
    transform: rotate(135deg) scale(1.4);
}
.about__controls.bottom:hover {
    transform: rotate(-45deg) scale(1.4);
}
.about__nav-btn {
    width: 10px;
    height: 10px;
    background-color: #fae6d2;
    border-radius: 50%;
    margin-bottom: 10px;
    transition: all 0.3s linear;
    cursor: pointer;
}
.about__controls_nav .about__nav-btn:last-child {
    margin-bottom: 0;
}
.about__nav-btn.active,
.about__nav-btn:hover {
    background-color: #ee741d;
    transform: scale(1.2);
}
/* END:ABOUT-US */

/* STOCKS */
.stocks {
    padding: 100px 0;
}
.numbers__slider,
.stocks__slider {
    overflow: hidden;
    flex-wrap: nowrap;
    padding-bottom: 60px;
}
.numbers__slider_item,
.stocks__slider_item {
    border-radius: 10px;
    overflow: hidden;
    padding-right: 0;
    padding-left: 0;
    margin-right: 15px;
    margin-left: 15px;
    flex: 0 0 calc(33.333333% - 30px);
    max-width: calc(33.333333% - 30px);
    box-shadow: 0px 6px 22px -7px rgba(187, 187, 187, 0.75);
}
.numbers__slider_item:last-child,
.stocks__slider_item:last-child {
    margin-right: 0;
}
.stocks__slider_item img {
    width: 100%;
    height: 200px;
}
.numbers__slider_info,
.stocks__slider_info {
    padding: 25px 30px 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 200px);
}
.numbers__slider_info h3,
.stocks__slider_info h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    color: rgba(59, 59, 59, 255);
}
.stocks__slider_info p {
    line-height: 1.3;
}
.stocks__slider_info a {
    font-size: 16px;
    color: rgba(238, 116, 29, 255);
}
.numbers__controls,
.stocks__controls {
    display: flex;
    align-items: center;
    justify-content: center;
}
.numbers__control,
.stocks__control {
    width: 27.5px;
    height: 27.5px;
    border-left: 3px solid #ee741d;
    border-bottom: 3px solid #ee741d;
    transform: rotate(-135deg) scale(1);
    cursor: pointer;
    transition: all 0.3s linear;
}
.numbers__control.left,
.stocks__control.left {
    margin-right: 90px;
    transform: rotate(45deg) scale(1);
}
.numbers__control:hover,
.stocks__control:hover {
    transform: rotate(-135deg) scale(1.4);
}
.numbers__control.left:hover,
.stocks__control.left:hover {
    transform: rotate(45deg) scale(1.4);
}
/* END:STOCKS */

/* NUMBERS */
.numbers__slider_info h3 {
    font-size: 15px;
    margin-bottom: 22px;
}
.numbers__slider_info a {
    width: 225px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ee741d;
    border-radius: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #ee741d;
    text-transform: uppercase;
    transition: all 0.3s linear;
}
.numbers__slider_info a:hover {
    background-color: #ee741d;
    color: #ffffff;
    text-decoration: none;
}
.numbers__slider_item .numbers__img {
    position: relative;
    width: 100%;
    height: 200px;
}
.numbers__img > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.numbers__img .banner__all {
    position: absolute;
    top: 10px;
    right: 10px;
    margin-top: 0;
    height: 80px;
    width: 80px;
}
.numbers__img .banner__all span {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 12px;
    color: #fff;
}
.numbers__icons {
    position: absolute;
    left: 28px;
    bottom: 20px;
    display: flex;
}
.numbers__icons img {
    margin-right: 12px;
    max-height: 17px;
}
/* END:NUMBERS */

/* FEEDBACK */
.feedback {
    padding-top: 150px;
}
.feedback_item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.feedback_item img {
    margin-bottom: 15px;
}
.feedback__info h3 {
    margin-bottom: 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: rgba(59, 59, 59, 255);
    text-align: center;
    line-height: 1;
    text-transform: uppercase;
}
.feedback__info p {
    font-size: 18px;
    margin-bottom: 0;
    line-height: 1.8;
}
.feedback__info a {
    color: #ee741d;
    font-size: 18px;
    line-height: 2.5;
}
/* END:FEEDBACK */

/* FOOTER */
.footer {
    height: 769px;
    padding-top: 61px;
    background-image: url(../assets/footer/footer-bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 18px;
}
.footer h2 {
    margin-bottom: 50px;
    font-weight: 300;
    font-size: 40px;
}
.footer a {
    display: block;
    color: #ffffff;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
}
.footer .footer__info > a:first-child {
    margin-bottom: 10px;
}
.footer p {
    margin: 60px 0;
}
.footer .contact__soc {
    justify-content: flex-start;
}
.footer .contact__soc a {
    margin-right: 30px;
}
.footer .footer__info a:hover {
    color: #ee751d;
}
.footer .contact__soc a svg {
    height: 28px;
    width: auto;
    transition: all 0.3s linear;
}
.contact__soc svg:hover path {
    fill: #ee751d;
}
.footer .partner__info {
    display: flex;
    align-items: center;
}
.footer .partner__info a {
    margin-right: 30px;
}
/* END:FOOTER */

/* Media */
@media (max-width: 1200px) {

}

@media (max-width: 992px) {
    
}

@media (max-width: 767px) {
    
}