@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&display=swap&subset=latin-ext');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
}
button {
    border: 0;
    outline: none!important;
}
input {
    outline: none!important;
}
ul {
    margin: 0;
}
li {
    list-style-type: none;
}

/* Header */
.header {
  background: url(../assets/header/banner-bg-1.png);
  background-size: cover;
  background-position: top left;
  padding-bottom: 30px;
  overflow-x: hidden;
}
.header__top {
    color: white;
    padding-top: 10px;
}
.header__top.orange {
    color: #ee751d;
}
.header__top .header-logo-orange,
.header__top.orange .header-logo-white,
.header__top.orange .enter__img_white,
.header__top .enter__img_orange,
.header__top .header__menu_close,
.header__top.orange .header__menu_open {
    display: none;
}
.header__top.orange .header-logo-orange,
.header__top .header-logo-white,
.header__top .enter__img_white,
.header__top.orange .enter__img_orange,
.header__top.orange .header__menu_close {
    display: block;
}
.header__top .header__menu_open {
    display: flex;
}
.header__btns {
    display: flex;
    align-items: center;
}
.header__top_right {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__menu_btn {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
    height: 18px;
    position: relative;
    top: 4px;
}
.header__menu_btn span {
    width: 30px;
    height: 3px;
    display: block;
}
.header__top .header__menu_btn {
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
}
.header__top.orange .header__menu_btn {
    border-top: 3px solid #ee751d;
    border-bottom: 3px solid #ee751d;
}
.header__top .header__menu_btn span {
    background-color: #fff;
}
.header__top.orange .header__menu_btn span {
    background-color: #ee751d;
}
.header__menu_text {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: 500;
    text-align: left;
    line-height: 1;
    cursor: pointer;
    transition: all 0.3s linear;
}
.header__menu_text:hover {
    text-decoration: underline;
}
.header__logo {
    position: relative;
    top: -5px;
}
.header__enter {
    cursor: pointer;
    display: flex;
    align-items: center;
}
.header__enter:hover .enter__img_white {
    display: none;
}
.enter__text {
    text-decoration: underline;
    font-size: 16px;
}
.header__enter img {
    width: 14px;
    height: 16px;
    margin-right: 8px;
}
.header__enter:hover .enter__img_orange {
    display: block;
}
.header__enter:hover .enter__text {
    color: #ee751d;
}
.header__phone {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 24px;
}
/* END:Header */

/* banner */
.banner {
    padding-top: 50px;
}
.banner__all {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 251px;
    width: 257px;
    margin-top: 100px;
    cursor: pointer;
    background: #e6381b;
    background: linear-gradient(90deg, #e6381b 0%, #ea3e15 11%, #ff7002 65%);
    border-radius: 50%;
    color: #ffffff;
    transform: rotate(-135deg);
    transition: all 0.3s linear;
}
.banner__all:hover {
    background: linear-gradient(90deg, #ff7002 38%, #ea3e15 100%);
}
.banner__all span {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 28px;
    transform: rotate(135deg);
}
.banner__all:hover span {
    text-decoration: underline;
}
.banner__all::after,
.banner__all::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../assets/header/all-inclusive-border.png);
    background-size: 100% 100%;
    transform: scale(1.1);
    opacity: 0;
    transition: all 0.3s linear;
}
.banner__all::after {
    transform: scale(1.05);
}
.banner__all:hover::after,
.banner__all:hover::before {
    opacity: 1;
}
.banner__left h1 {
    font-weight: 300;
    font-size: 49px;
    color: #fff;
    text-align: left;
}
.banner__right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.banner__form {
    background-color: #fff;
    max-width: 350px;
    width: 100%;
    padding: 26px 35px 30px 35px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
.banner__form h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #ee741d;
    text-align: center;
    margin-bottom: 20px;
}
label[for="out"] {   
    margin-top: 13px;
}
.form__people {
    padding-top: 20px;
    padding-bottom: 40px;
    display: flex;
}
.adults span,
.childs span {
    margin-bottom: 12px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #3b3b3b;
    text-align: left;
    display: block;
}
.adults {
    margin-right: 90px;
}
.counter {
    display: flex;
}
.plus,
.minus {
    font-size: 30px;
    padding-left: 10px;
    line-height: 1;
    height: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s linear;
}
.minus {
    padding-right: 10px;
    font-weight: 600;
}
.plus:hover,
.minus:hover {
    color: #ee741d;
}
.banner__form input {
    border: 0;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    box-shadow: inset 0px 0px 20px -9px #888888;
    padding: 0 20px 0 10px;
}
.counter input {
    width: 30px;
    text-align: center;
    padding: 0;
}
label {
    width: fit-content;
}
.input-datetime {
    position: relative;
}
.input-datetime:after {
    content: "";
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 19px;
    height: 18px;
    background: url(../assets/header/calendar.png);
    background-size: 100% 100%;
    pointer-events: none;
} 
.form__btns button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    height: 40px;
    margin-bottom: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 12px;
    border: 2px solid #ee741d;
    background-color: #fff;
    transition: all .3s linear;
}
.form__btns > button {
    width: 100%;
    margin-bottom: 20px;
    font-size: 16px;
    color: #fff;
    background-color: #ee741d;
}
.form__btns > button:hover {
    box-shadow: 10px 10px 13px -10px rgba(0,0,0,0.75);
}
.dop-btns {
    display: flex;
    justify-content: space-between;
}
.dop-btns button {
    width: calc(50% - 10px);
    color: #ee741d;
}
.dop-btns button:hover {
    background-color: #ee741d;
    color: #fff;
}
.book-transfer {
    display: inline-block;
    padding: 25px 0;
    text-align: center;
    width: 350px;
    color: #ee741d;
    font-family: 'Lato';
    font-weight: 500;
    font-size: 20px;
    text-decoration: underline;
}
.book-transfer:hover {
    color: #ee741d;
}
.banner__slider {
    width: 350px;
    display: flex;
    flex-direction: column;
}
.slider__body {
    display: flex;
    width: fit-content;
    padding-bottom: 20px;
    padding-left: 10px;
}
.slider__item {
    width: fit-content;
    margin-right: 26px;
    cursor: pointer;
}
.slider__item:last-child {
    padding-bottom: 0;
}
.slider__item img {
    width: 134px;
    height: 77px;
}
.slider__item.active {
    transform: scale(1.04);
}
.slider__item.active::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px solid #fff;
    transform: scale(1.1, 1.17);
}
.slider__controls {
    width: 115px;
    margin-left: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}
.controls__item {
    border-bottom: 3px solid #fff;
    border-left: 3px solid #fff;
    width: 12.5px;
    height: 12.5px;
    border-radius: 3px;
    transform: rotate(45deg) scale(1);
    transition: all 0.3s linear;
    cursor: pointer;
}
.controls__item.right {
    transform: rotate(-135deg) scale(1);
}
.controls__item.left:hover {
    transform: rotate(45deg) scale(1.3);
} 
.controls__item.right:hover {
    transform: rotate(-135deg) scale(1.3);
} 
/* END:banner */

/* Media */
@media (max-width: 1200px) {

}

@media (max-width: 992px) {
    
}

@media (max-width: 767px) {
    
}